*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

}

@font-face {
  font-family: 'Roboto-Reg';
  src: url("fonts/roboto-slabs/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url("fonts/roboto-slabs/RobotoSlab-Bold.ttf");
}

.layout{
  background-image: url("images/banner-img.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.layout1{
  background-image: url("images/tamaraw.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}



nav{
  font-family: 'Roboto-Reg';
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 33%;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;

}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: small;

}

a{
  color: #bc8f57;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav ul li a:hover:after{
  transform: scaleX(1);
  transform-origin:0 50%;
}

nav ul li a::after{
  display:block;
  content: '';
  border-bottom: solid 3px #bc8f57;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}

/*Logo*/
.logo{
  color: #bc8f57;
  font-size: 28px;

}

/*Logo Animation*/
.logo::after{
  content: "";
  animation: appear 5s infinite;
}

/*Logo keyframes*/
@keyframes appear{
  0%{
    content: ".animal( )";
  }

  25%{
    content: ".welfare( )";
  }

  50%{
    content: ".by( )";
  }
  75%{
    content: ".house( )";
  }

  100%{
    content: ".targaryen( )";
  }
}

/*Overall
  Philippine
  Eagle
  Description
*/
.content{
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translateY(-50%);
}

/*Philippine*/
h4{
  font-family: 'Roboto-Bold';
  font-size: x-large;
  color: white;
}
h3{
  font-family: 'Roboto-Bold';
  font-size: 40px;
  color: white;
  margin-left:2%;
}
h3{
  font-family: 'Roboto-Reg';
  font-size: 30px;
  color: #bc8f57
}
h2{
  font-family: 'Roboto-Reg';
  font-size: 40px;
  color: #bc8f57
}

/*Eagle*/
h1{
  font-family: 'Roboto-Reg';
  color: #bc8f57;
  margin: -40px -10px -30px;
  font-size: 130px;
  letter-spacing: 5px;
}
/*Home */
.paragraphHOME{
  color: #fff;
  font-size: 20px;
  padding-top: 30px;
  letter-spacing: 2px;
}
p.para1{
  margin-right: 25%;
  margin-left: ;
  text-align: justify;
  text-justify: inter-word;

}
p.para2{
  margin-top: 2%;
  margin-right: 25%;
  text-align: justify;
  text-justify: inter-word;
}
/*Animals-Eagle*/
.paragraphEAGLE{
  color: #fff;
  font-size: 20px;
  padding-top: 30px;
  letter-spacing: 2px;
}
p.paraEAGLE1{
  margin-right: 25%;
  margin-left: ;
  text-align: justify;
  text-justify: inter-word;
}
p.paraEAGLE1{
  margin-right: 25%;
  margin-left: ;
  text-align: justify;
  text-justify: inter-word;
}
p.paraEAGLE2{
  margin-top: 2%;
  margin-right: 25%;
  text-align: justify;
  text-justify: inter-word;
}

/*Default-Paragraph*/
.paragraphALL{
  color: #fff;
  font-size: 15px;
  padding-top: 30px;
  letter-spacing: 2px;
}
p.paraALL{
  margin-right: 15%;
  margin-left: ;
  text-align: justify;
  text-justify: inter-word;
}

/*Ph Eagle description*/
.paragraph{
  color: #fff;
  font-size: 13px;
  padding-top: 50px;
  letter-spacing: 2px;
}

.link{
  font-family: 'Roboto-Bold';
  font-size: x-large;
  color: #bc8f57;
  width: 160px;
  padding-top: 15px;
  margin-bottom: 2%;
}

.learnMore:hover{
  cursor: pointer;
}

.learnMore:hover{
  font-size: 0;
}

.learnMore:hover::after{
  font-family: 'Roboto-Bold';
  content: attr(data-hover);
  font-size: x-large;
}

.brace1{
  font-family: 'Roboto-Reg';
  font-size: 20px;
}

.brace2{
  font-family: 'Roboto-Reg';
  font-size: 20px;
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6,
.line7,
.line8{
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide text behind the cursor */
  font-family: 'Roboto-Reg';
}

.line1 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__1 3s steps(100, end) 1s 1 normal both,
             animated-cursor__1 900ms steps(30, end) 8;
}

.line2 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(100, end) 1s 1 normal both,
             animated-cursor__2 900ms steps(30, end)5;
  -webkit-animation-delay: 1s;
  animation-delay: 4.5s;
}

.line3 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(100, end) 1s 1 normal both,
             animated-cursor__2 900ms steps(30, end)5;
  -webkit-animation-delay: 1s;
  animation-delay: 8s;
}

.line4 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(100, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) 5;
  -webkit-animation-delay: 1s;
  animation-delay: 11s;
}

.line5 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(100, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) 5;
  -webkit-animation-delay: 1s;
  animation-delay: 14s;
}

.line6 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(100, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) 5;
  -webkit-animation-delay: 1s;
  animation-delay: 17s;
}

.line7 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(100, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) 5;
  -webkit-animation-delay: 1s;
  animation-delay: 21s;
}

.line8 {
  border-right: 2px solid rgba(17, 17, 17, 0.9);

  /* define animation types for text + cursor */
  animation: animated-text__2 3s steps(100, end) 1s 1 normal both,
      animated-cursor__2 900ms steps(30, end) infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 24s;
}

@keyframes animated-cursor__1 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-cursor__2 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-cursor__3 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-cursor__4 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-cursor__5 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-cursor__6 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-cursor__7 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-cursor__8 {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes animated-text__1 {
  from {
    width: 0;
  }
  to {
    width: 30rem;
  }
}

@keyframes animated-text__2 {
  from {
    width: 0;
  }
  to {
    width: 30rem;
  }
}

@keyframes animated-text__3 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

@keyframes animated-text__4 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

@keyframes animated-text__5 {
  from {
    width: 0;
  }
  to {
    width: 20rem;
  }
}

@keyframes animated-text__6 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

@keyframes animated-text__7 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

@keyframes animated-text__8 {
  from {
    width: 0;
  }
  to {
    width: 29rem;
  }
}

@media screen and (max-width: 600px) {
  .layout{
    background-image: url("images/banner-img.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }
}
/* About HTML */
.about-layout{
  min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/banner-img.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-content{
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.about-content h1{
  margin: 10px 0 40px;
  font-size: 62px;
}
.about-content p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}
.more-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.more-btn:hover{
  border: 1px solid orange;
  background: orange;
  transition: 1s;
}

nav .fa{
  display: none;
}
@media(max-width: 700px){
  .text-box h1{
      font-size: 20px;
  }
  .nav-links ul li{
      display: block;
  }
  .nav-links{
      position: absolute;
      background: orange;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
  }
  nav .fa{
      display: block;
      color: white;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
  }
  .nav-links ul{
      padding: 30px;

  }
}
/* --Who are we?-- */

.tht{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  font-family: 'Roboto-Reg';
  font-size: 20px;
  color: #bc8f57
}
.tht-column{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: rgb(211,211,211,0.4);
  padding: 25px;
  cursor: pointer;
  display: flex;
  font-family: 'Roboto-Reg';
  font-size: 20px;
  color: black
}
.tht-fb {
  width: 70px;
  height: 70px;
  float: left;
}
.tht-gmail {
  width: 50px;
  height: 70px;
  float: left;
}
.tht-fb img{
  max-width: 100%;
  max-height: 100%;
}
.tht-gmail img{
  max-width: 100%;
  max-height: 100%;
}
.tht-column img{
  height: 200px;
  width: 200px;
  margin-right: 30px;
  border-radius: 50%;
}
.wrapper{
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon span{
  position: relative;
  height: 60px;
  width: 60px;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.wrapper .icon span i{
  font-size: 25px;
  line-height: 60px;
}
.wrapper .icon .tooltip{
  top: 0px;
  background: #fff;
  font-size: 20px;
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  pointer-events: none;
  opacity:0;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover span i{
  color: #fff;
}
.wrapper .icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity:1;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background: #3B5999;
}
.wrapper .Gmail:hover span,
.wrapper .Gmail:hover .tooltip,
.wrapper .Gmail:hover .tooltip:before{
  background: #3CBA54;
}
.wrapper .Github:hover span,
.wrapper .Github:hover .tooltip,
.wrapper .Github:hover .tooltip:before{
  background: #333;
}

/*Animals-2column*/

.column1 {
  float: left;
  width: 50%;
  padding: 40px;
  margin-top: -2%;

}
.column2 {
  float: left;
  width: 50%;
  padding: 40px;
  margin-top: -2%;
  margin-left: -20%;

}
.column3 {
  float: left;
  width: 50%;
  padding: 40px;
  margin-top: -2%;
  margin-left: -20%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}