body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

header{
    background-image: url(D:\CODING\House-Targaryen\rsc\533739.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

ul{
    float: right;
    list-style-type: none;
}

