*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url("fonts/nunito sans/NunitoSans-Light.ttf");
}
@font-face {
    font-family: 'ManropeRegular';
    src: url("fonts/static/Manrope-Regular.ttf");
}

@font-face {
    font-family: 'Title';
    src: url("fonts/lato/Lato-Black.ttf");
}

@media (min-aspect-ratio: 16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .backvideo{
        width: auto;
        height: 100%;
    }
}

header{
    background-image: url("images/2215552.png");
    height: 100vh;
    background-size: cover;
    background-position: center;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    font-family: 'Nunito';
    text-decoration: none;
    color: #fff;
    padding: 5px 30px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

.title{
    position: absolute;
    font-family: 'Title';
    font-size: 30px;
    text-shadow: 0 0 30px rgb(0, 0, 0);
    color: #fff;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.logo img{
    float: left;
    margin-top: 40px;
    width: 70px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.quote{
    position: absolute;
    font-family: 'Nunito';
    font-size: 15px;
    top: 70%;
    left: 11%;
    color: #fff;
}

.about-sec {
    font-family: 'Nunito';
    text-decoration: none;
    padding: 150px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

