*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Nunito';
    src: url("fonts/nunito sans/NunitoSans-Light.ttf");
}
@font-face {
    font-family: 'ManropeRegular';
    src: url("fonts/static/Manrope-Regular.ttf");
}

@font-face {
    font-family: 'Title';
    src: url("fonts/lato/Lato-Black.ttf");
}

@media (min-aspect-ratio: 16/9){
    .backvideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .backvideo{
        width: auto;
        height: 100%;
    }
}

header{
    background-image: url("images/2215552.png");
    height: 100vh;
    background-size: cover;
    background-position: center;

}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    font-family: 'Nunito';
    text-decoration: none;
    color: #fff;
    padding: 5px 30px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

.title{
    position: absolute;
    font-family: 'Title';
    font-size: 30px;
    text-shadow: 0 0 30px rgb(0, 0, 0);
    color: #fff;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.logo img{
    float: left;
    margin-top: 40px;
    width: 70px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.quote{
    position: absolute;
    font-family: 'Nunito';
    font-size: 15px;
    top: 70%;
    left: 11%;
    color: #fff;
}

.about-sec {
    font-family: 'Nunito';
    text-decoration: none;
    padding: 100px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

/* About Us HTML */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/Eagle/eagle.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: skyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid skyblue;
    background: skyblue;
    transition: 1s;
}

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: skyblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}

/* Animal Welfare */

.animalWelfare{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: grey;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.animalWelfare-column{
    flex-basis: 31%;
    background: skyblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0 ;
}
.animalWelfare-column:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/* Our Place*/
.ourPlace{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}